<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<context:component-scan base-package="org.unu4g0t.com.spring_redis" />

	<bean id="jedisConnFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:use-pool="true" />

	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
		p:connection-factory-ref="jedisConnFactory" />
		
	<bean id="userDao" class="org.inu4g0t.com.spirng_redis.dao.impl.UserDaoRedisImpl" />

	<bean id="addUserService" class="org.inu4g0t.com.spirng_redis.service.AddUserService">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean id="helloWorldService" class="org.inu4g0t.com.spirng_redis.service.HelloWorldService">
		<property name="name" value="Program Creek Readers" />
	</bean>

	<bean id="zhangsan" class="org.inu4g0t.com.spirng_redis.dao.User">
		<property name="name" value="zhangsan" />
		<property name="ID" value="1" />
	</bean>

	<bean id="lisi" class="org.inu4g0t.com.spirng_redis.dao.User">
		<property name="name" value="lisi" />
		<property name="ID" value="2" />
	</bean>

</beans>